<h1>Prenotazioni</h1>

<div>
  <div>
    <br>
    <label>Nome</label>
    <div>
      <input type="text" #nome>
    </div>
  </div>
  <div>
    <br>
    <label>Cognome</label>
    <div>
      <input type="text" #cognome>
    </div>
  </div>
  <div>
    <br>
    <label>Indirizzo</label>
    <div>
      <input type="text" #indirizzo>
    </div>
  </div>
  <div>
    <br>
    <label>Telefono</label>
    <div>
      <input type="number" #telefono>
    </div>
  </div>
  <div>
    <br>
    <label>Email</label>
    <div>
      <input type="email" #email>
    </div>
  </div>
  <div>
    <br>
    <label>Data di Prenotazioni</label>
    <div>
      <input type="date" #data>
    </div>
  </div>
  <div>
    <br>
    <label>Ora di Prenotazioni</label>
    <div>
      <input type="time" #ora>
    </div>
  </div>
  <div>
    <br>
    <button>Prenota</button>
  </div>
  
</div>